@font-face {
    font-family: Gilroy-regular;
    src: url(Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-bold;
    src: url(Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Chronical-semibold;
    src: url(Chronical/Chronicle\ Display\ Semibold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    line-height: 1;
}



body {
    margin: 0;
    background: #0b1d26;
}

.main-container {
    margin: 0px auto;
    position: relative;
    max-width: 1500px;
    min-width: 1450px;
}

#bg-img {
    position: absolute;
    top: 0;
    width: 99vw;
    max-width: 1550px;
    z-index: -1;
}

#cloud {
    position: absolute;
    top: 0;
    width: 99vw;
    max-width: 1550px;
    z-index: -5;
}

#mg {
    position: absolute;
    top: 0;
    width: 99vw;
    max-width: 1550px;
    top: 464px;
    z-index: -3;
}

#vg {
    position: absolute;
    top: 0;
    width: 99vw;
    max-width: 1550px;
    top: 720px;
    z-index: -1;
}


.nav {
    padding: 64px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {

    display: flex;
    gap: 40px;
}

.nav-items a {
    font-size: 14px;
    font-weight: 700;
    font-family: Gilroy-regular;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.account {
    color: white;
    display: flex;
    align-items: center;
    font-family: Gilroy-regular;
    gap: 8px;
    font-size: 14px;
    font-weight: 700;
}

.account img {
    width: 24px;
    height: 24px;
}

.logo img {
    height: 24px;
    width: 108px;
}

/* HERO SECTION */
.hero-content {
    margin: 200px 70px;
    display: flex;
    gap: 200px;
}

.middle hr {
    height: 3px;
    width: 72px;
    border: none;
    background: #FBD784;
}

.middle {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.scroll {
    display: flex;
    align-items: center;
    gap: 10px;
}


.hr {
    font-family: Gilroy-regular;
    letter-spacing: 6px;
    font-weight: 800;
    font-weight: 800;
    font-size: 15px;
    color: #FBD784;
    display: flex;
    align-items: center;
    gap: 30px;
}

.middle h1 {
    color: white;
    font-size: 75px;
    font-family: Chronical-semibold;
    font-weight: 400;
    width: 800px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left img {
    height: 20px;
    width: 20px;
}

.left p {
    writing-mode: vertical-rl;
    font-family: Gilroy-regular;
    font-weight: 700;
    color: white;
}

#scroll {
    color: white;
    font-family: Gilroy-regular;
    font-weight: 700;
}

#arrow {

    color: white;
}



.right {
    font-family: 'Gill Sans';
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;

    color: white;
    position: relative;
}


.right p {
    font-size: 18px;
    font-family: Gilroy-regular;
    font-weight: 700;
    margin-right: 32px;
    margin-top: 16px;
}


.line-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    position: absolute;
}


.line-top {
    width: 3px;
    height: 60px;
    background: white;
}


.line-bottom {
    width: 3px;
    height: calc(100% - 20px);
    background: #f7d1d1;
}

/* ABOUT US SECTION */
.main-content {
    margin-top: 672px;

    color: white;
    width: 1450px;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.gradient img {
    position: absolute;
    top: 1100px;
    width: 99vw;
    z-index: -1;
}

.content-img img {
    margin-right: 100px;
    width: 466px;
    height: 620px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 114px;
    height: 720px;
}

.para {
    width: 600px;
    height: 539px;
    font-family: Gilroy-bold;
    color: white;
}

.content {
    margin-left: 220px;
    padding-left: 100px;
}

.para h1 {
    font-size: 55px;
    margin-top: 27px;
    font-family: Chronical-semibold;
    font-weight: 600;
}

#level {
    font-size: 13px;
    padding-top: 30px;
    line-height: 32px;
    font-family: Gilroy-regular;
    font-weight: 700;

}

.gr {
    display: flex;

    /* justify-content: center; */
    align-items: center;
    margin-top: 27px;


}

#get {
    padding-left: 20px;
    color: #FBD784;
    letter-spacing: 6px;
    font-family: Gilroy-regular;
    font-weight: 800;
    font-size: 14px;

}

.gr hr {
    width: 72px;
    background: #FBD784;
    border: none;
    height: 2px;
}

.one p {
    font-size: 210px;
    font-family: Gilroy-bold;

    opacity: 10%;
    position: absolute;
    top: 1300px;
    left: 170px;
}

.read {
    padding-top: 27px;
    display: flex;
    font-family: Gilroy-regular;
    font-weight: 700;
    align-items: center;
    gap: 16px;
}

.read img {
    width: 24px;
    height: 16px;
}

#read {

    color: #FBD784;
}

/* PARA-TWO */


.content-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    gap: 200px;
}
.low{
    margin-bottom: 27px;
}
#gets{
    padding-left: 20px;
    color: #FBD784;
    letter-spacing: 6px;
    font-family: Gilroy-regular;
    font-weight: 800;
    font-size: 15px;
}
.center {
    width: 500px;
}

.center h1 {
    font-size: 60px;
    font-family: Chronical-semibold;
    font-weight: 600;
}

.para-img img {
    width: 466px;
    height: 620px;
}

.two {
    font-size: 210px;
    font-family: Gilroy-bold;

    opacity: 10%;
    position: absolute;
    top: 2240px;
    left: 776px;
}

.three {
    font-size: 230px;

    font-weight: bold;
    opacity: 10%;
    position: absolute;
    top: 3040px;
    left: 180px;
}